@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Data Express Demo.</p>
</div>

<div class="text-center" id="sample-form">
    <h2>Sample Input Form</h2>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name">
        <br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Your Email">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
